<div class="Charts">
  <div class="Pie-chart">
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-pie-chart>
  </div>

  <div>
  <Bar-Verticcle-app></Bar-Verticcle-app>
  </div>

  <div class="barchart">
  <bar-chart-app></bar-chart-app>
  </div>
</div>